# Environment

.env

# Laravel

/vendor
/bootstrap/cache/*.php
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Node

/node_modules

# Uploads / user files

/public/uploads
/public/photos
/public/lb-faveo/media/
/storage/app/attachments

# Logs
docker-compose.yml
*.log

# OS

.DS_Store
Thumbs.db
